a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background-color: black;
}
header .container{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #212121;
    
}
.search{
    background-color: transparent;
    border: 1px solid white;
}
.card{
    background-color: #212121;
}
.card:hover{
    background-color: transparent;
    border: 2px solid #212121;
}
.products-details .card:hover{
    background-color: #212121;
    border: 1px solid #212121;
}
.badge{
    background-color: #157347;
}
.addCard:hover{
    background-color: #228B22;
    border: 0px;
}
.addCard{
    background-color: transparent;
    border: 1px solid #228B22;
    color: #228B22;
}
.buybtn{
    background-color: #ff4500;
    border: 0px;
}
.warranty{
    color: white;
}
.logo{
    color: #ff4500;
}
.proTable{
    border: 1px solid white;
}
.proTable tr{
    border: 1px solid white;
}
.incree,.dicree{
    background-color: transparent;
    color: white;
    
}
.deleteBtn{
    background-color: #DC3545;
    border: 0px;
    padding: 3px 13px;
    transition: all 0.5s;
}
.deleteBtn:hover{
    background-color: transparent;
    border: 2px solid #DC3545;
    color: #DC3545;
}
.productPrice .buybtn{
    margin: 10px auto;
    padding: 7px 15px;
}
.productPrice .buybtn:hover{
    background-color: #157347;
}